.table{
	width:500px;
	
}




@media screen (max-device-width: 413px) and (max-device-width: 413px)
{
 #apply_table{
	margin-left:0px;		
	
}

#result_img{
	margin-left:0px;
}


#rule{
	margin-left:0px;
}


.top_anchor{
		margin-left:683px;
	
}
 
}