.table{
	width:500px;
	
}


#apply_table{
	margin-left:300px;		
	text-align:center;
	
}

#result_img{
	margin-top:20px;
	margin-left:300px;
}


#rule{
	margin-left:300px;
	margin-top:20px;
	font-weight:bold;
}


.top_anchor{
		margin-left:983px;
	
}
