.table{
	width:500px;
	
}

#rank{
	font-size:20px;
	text-align:center;
	
}

#result_img{
		margin-top:20px;
	margin-left:300px;		
	
	
	
}

#result_table{
	margin-top:10px;
	margin-left:300px;
}

.top_anchor{
		margin-left:983px;
	
}

#question{
	font-size:23px;
	font-weight:bold;
		margin-left:600px;
}
