#vote_title{
	margin-top:20px;
	margin-left:300px;		
	
}

#vote_table{
	margin-top:20px;
	margin-left:300px;
}

#vote_confirm_table{
	margin-top: -26px;
	margin-left: 299px;
}

#vote_confirm_button{
	margin-top:5px;
	margin-left:622px;
	
}

#vote_button{
	margin-top:5px;
	margin-left: 352px;	
}

#confirm-sentence{
	margin-left: 300px;	
	font-weight:bold;
}
